/* Fix heading sizes */
h5.subsubsectionHead{font-size:1em;}
h6.subsubsubsection{font-size:1em;}

/* Set maximum width */
body{
    margin:1em auto;
    max-width:65ch;
    padding:0 .62em;
   line-height: calc(1ex / 0.32);
   /* uncomment following line to set bigger font size */
   /* font:1.2em/1.62 serif; */
}